.main-content{
  max-width:1200px;
  margin:auto;
}

h1{
  font-family: 'Playfair Display', serif!important;
  color: $orange;
  font-size:24pt!important;
}

.btn-primary {
  color: #fff !important;
}
