.main-content{
  max-width:1200px;
  margin:auto;
}

h1{
  font-family: 'Playfair Display', serif!important;
  color: $orange;
  font-size:24pt!important;
}

.btn-primary {
  color: #fff !important;
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);

}

#slogan {
font-family: 'Rocher'!important;
}
