<div class="row">
  <div class="col-md-8">
    <div class="card bg-none">


      <div class="card-body">
          <h6 class="card-title"><%= @booking.cat.name %></h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloremque tempora odio similique accusantium velit eum numquam illum alias unde?</p>

          <div class="ratings mt-3 d-flex justify-content-between align-items-center">
            <h6 class="review-stat">Angriness Level</h6>
            <div class="small-ratings">
                    <% @sum_stars_fluffiness.times do %>
                      <i class="fa fa-star rating-color"></i>
                    <% end %>

                    <% if @sum_no_stars_fluffiness > 0 %>
                      <% @sum_no_stars_fluffiness.times do  %>
                        <i class="fa fa-star"></i>
                      <% end %>
                    <% end %>
            </div>
          </div>

          <div class="ratings mt-3 d-flex justify-content-between align-items-center">
            <h6 class="review-stat">Fluffiness</h6>
            <div class="small-ratings">
                    <% @sum_stars_fluffiness.times do %>
                      <i class="fa fa-star rating-color"></i>
                    <% end %>

                    <% if @sum_no_stars_fluffiness > 0 %>
                      <% @sum_no_stars_fluffiness.times do  %>
                        <i class="fa fa-star"></i>
                      <% end %>
                    <% end %>
            </div>
          </div>

          <h5>Details Of Your Booking</h5>




      </div>
    </div>
  </div>

  <div class="col-md-4">

  </div>
</div>
