<div class="container">
  <div class="row">
  </div>


<div class="row">

  <div class="card-product my-3 p-2">
    <img src="https://get.pxhere.com/photo/man-person-people-hair-white-male-guy-portrait-model-young-human-fashion-lifestyle-smile-caucasian-face-cool-glasses-expression-sexy-style-body-handsome-good-looking-attractive-emotion-adult-success-confident-portrait-photography-facial-hair-vision-care-1387382.jpg" />
    <div class="card-product-infos">
      <h2>Jane Doe</h2>
      <p id='text-size'>I am a cat lover who embraces their dark side, too.</p>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="?query=my_cats">My cats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?query=current_rentals">Current rentals</a>
    </li>
  </ul>
</div>


<div class="row">
  <div class="custom-row mt-3">
    <% if params[:query] == "my_cats" || params[:query].nil? %>

  <!--Plus symbol to add a new cat-->

      <%= link_to new_cat_path do %>
        <i class="fa-solid fa-plus add-card align-bottom" style="font-size: 4em; text-align: center; padding: 90px 0;"></i>
      <% end %>


  <!--Cat cards-->

      <% @cats.each do |cat| %>
        <%= link_to cat_path(cat), class: "dashboard-card" do %>
          <div>
            <%= cl_image_tag cat.photo.key, class: "search-page-card card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= cat.name %> </h5>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


    <% elsif params[:query] == "current_rentals" %>
      <br>
      <p>No cats rented at the moment.</p>
    <% end %>
