.dashboard-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.add-card {
  background-color: #FFD580;
}
