<section id="cats-show-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" style="padding:0">
        <img class="photo-grid-img" src="https://source.unsplash.com/random/?mountains" alt="">
        <%#= cl_image_tag "https://source.unsplash.com/random/?mountains", style: "object-fit:cover; width:100%;aspect-ratio: 1/1" %>
      </div>
      <div class="col-lg-6">
        <div class="row" style="background-color: blue;">
          <div class="col-md-6" style="background-color: red; padding: 0"><img class="photo-grid-img" src="https://source.unsplash.com/random/?mountains" alt="" style="object-fit:cover; width:100%; aspect-ratio: 1/1"></div>
          <div class="col-md-6" style="background-color: red; padding: 0"><img class="photo-grid-img" src="https://source.unsplash.com/random/?mountains" alt="" style="object-fit:cover; width:100%; aspect-ratio: 1/1"></div>
        </div>
        <div class="row" style="background-color: green">
          <div class="col-md-6" style="background-color: red; padding: 0"><img class="photo-grid-img" src="https://source.unsplash.com/random/?mountains" alt="" style="object-fit:cover; width:100%; aspect-ratio: 1/1"></div>
          <div class="col-md-6" style="background-color: red; padding: 0"><img class="photo-grid-img" src="https://source.unsplash.com/random/?mountains" alt="" style="object-fit:cover; width:100%; aspect-ratio: 1/1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cats-show-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</section>
